site_name: InfraGraph (Infrastructure Graph)
repo_url: https://github.com/Keysight/infragraph
repo_name: infragraph
edit_uri: ""
docs_dir: src
theme:
  name: material
  logo: images/infra_logo_favicon.png
  favicon: images/infra_logo_favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
markdown_extensions:
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - include-markdown # https://github.com/mondeja/mkdocs-include-markdown-plugin
  - search
  - print-site # https://github.com/timvink/mkdocs-print-site-plugin
extra:
  analytics:
    provider: google
    property: G-N6X4KDVDJF
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Keysight/infragraph
# Page tree
nav:
  - Overview: index.md
  - Background: background.md
  - Schema: schema.md
  - Getting Started: create.md
  - Blueprints: blueprints.md
  - Extending The Graph: annotate.md
  - Examples: examples.md
  - Browse API Spec: openapi.html

